<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.berkeley.cs160.betterbet"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon"
                 android:label="@string/app_name"
                 android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name=".BetterBet"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="PlayActivity"
                  android:label="Play"
                  android:screenOrientation="landscape"
                  />
		<activity android:name="StatsActivity"
                  android:label="Stats"
                  android:screenOrientation="landscape"
                  />
        <activity android:name="OpponentsActivity"
                  android:label="Opponents"
                  android:screenOrientation="landscape"
                  />
        <activity android:name="RulesActivity"
                  android:label="Rules"
                  android:screenOrientation="landscape"
                  />
        <activity android:name="HelloTabWidget" android:label="@string/app_name"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.NoTitleBar"
                  />
        <activity android:name="LoginActivity"
                  android:label="Login"
                  android:screenOrientation="landscape"
                  />
    </application>
    <uses-sdk android:minSdkVersion="4" />

</manifest> 